.carousel {
  overflow: hidden;
  max-width: 720px;
  margin: auto;
}

.carousel .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .carousel-item {
  text-align: center;
}

.carousel .carousel-item img {
  max-height: 480px;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-indicators li {
  background-color: #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: #000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
