.carousel {
  overflow: hidden;
  max-width: 720px;
  margin: auto;
}

.carousel .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .carousel-item {
  text-align: center;
}

.carousel .carousel-item img {
  max-height: 480px;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}
