.footer {
  background-color: #c5c2bded;
  color: #333;
  padding: 2rem 0;
  margin: 0;
  width: 100vw;
}
.footer h5 {
  color: #333;
}

.footer p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.footer a {
  color: #0916cc;
}

.footer a:hover {
  text-decoration: none;
  color: #ff7043;
}

.footer small {
  color: #777;
}

.footer-bottom {
  color: #000000;
  padding: 0.5rem 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
